{%- macro script_tag(filename) %}
<script type="module" src="{{ url_for('.static', filename='js/' + filename + '.js') }}"></script>
{% endmacro -%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<style>
#results { margin-top: 1em; }
.result { border: 2px solid #d1e6e6; max-width: 600px;
          border-radius: 10px; padding: 5px 10px; }
</style>
<body>
<h1>Database search</h1>
{#- TODO: Better copy here -#}
<p>
<em>Highly Work-in-Progress! Expect databases to be out of date.</em><br>
<b>Do not rely on this yet!</b> Source available at <a href="https://github.com/conflict-investigations/media-search-engine">GitHub</a>
</p>

<p>
 <form id='url-field' onSubmit='return submitSingleURL()'>
  <label for='url'>Enter URL:</label><br>
  <input type='text' id='url' name='url'>
  <input type='submit' value='Check'>
</form>
</p>

<p>
 <form id='file-field' onSubmit='return submitCSV()'>
  <label for='file'>Upload .csv file with links:</label><br>
  <input type="file" id='file' name="file" accept=".csv">
  <input type='submit' value='Check'>
</form>
</p>

<!-- TODO: <textarea></textarea> -->

<div id="results"></div>

{{ script_tag('index') }}
</body>
</html>
